*{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
}

body{
    background-color: #E5E5E5   ;
}


main{
    display: flex; 
    margin-right: 15px;
    margin-left:80px;
    margin-bottom: 50px;
}
section{
    margin: 10px;
}

.sessao1{
    width: 75%;
    margin-left: -70px;
}
.sessao2{
    padding-right: 20px;
}

.titulo-texto{
    color: #0A3871;
    display: block;
}

.input-text{
    resize: none;
    margin-top: 30;
    background-color: #E5E5E5;
    border: none;
    outline:none;
}

.informacao{
    margin-top: 20px;
    font-size: 0.4em;
}

.botoes{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.encriptar{
	background: #0A3871;
	color: white;
}

.encriptar{
    margin-right: 20px;
}


.encriptar, .desencriptar, .copiar{
    width: 300px;
    border-radius: 20px;
}

.encriptar:hover, .desencriptar:hover, .copiar:hover{ 	
    transform: scale(1.1); //aumenta proporcionalmente ,escala todo conteudo do botão e aumenta em 20% 
}

.mensagem-box{
    width: 350px;
    height: 600px;
    padding: 10px;
    background: #FFF;
    border-radius: 20px;
}

.mensagem{
    padding: 10px;
    margin-top: 20;
    resize: none;
    outline:none;
    border: none;
    background-image: url("../imagens/boneco.svg");
    background-repeat: no-repeat;
    background-position: 10px 70px;
    background-size: 100%;
}

#mensagem-nenhuma{
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

#mensagem-digite{
    font-size: 16px;
}

#mensagem-nenhuma, #mensagem-digite{
    position: relative;
    width: 100%;
    text-align: center;
}
.copiar{
    margin: 0 7% ;

}

//medida de tablet 768
@media screen and (max-width: 768px){
   
}
