*{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
}

body{
    background-color: #E5E5E5;
}


.conteudo-principal{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    margin-left:80px;
    margin-bottom: 50px;
}
.sessao1{
    margin: 10px;
}

.sessao1{
    width: 65%;
    margin-left: -70px;
}

.titulo-texto{
    color: #0A3871;
    display: block;
}

.input-text{
    width: 90%;
    height:63%;
    resize: none;
    margin-top: 30;
    background-color: #E5E5E5;
    border: none;
    outline:none;
}

.informacao{
    margin-top: 20px;
    font-size: 0.4em;
}

.botoes{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.encriptar{
	background: #0A3871;
	color: white;
}

.encriptar{
    margin-right: 20px;
}


.encriptar, .desencriptar, .copiar{
    width: 300px;
    border-radius: 20px;
}

.encriptar:hover, .desencriptar:hover, .copiar:hover{ 	
    transform: scale(1.1); //aumenta proporcionalmente ,escala todo conteudo do botão e aumenta em 20% 
}

.sessao2{
    width: 80%;
    padding-right: 20px;   
}


.mensagem-box{
    width: 360px;
    height: 650px;
    padding: 10px;
    background: #FFF;
    border-radius: 20px;
}

.mensagem{
    width: 90%;
    height:55%;
    padding: 10px;
    margin-top: 20;
    resize: none;
    outline:none;
    border: none;
    background-image: url("../imagens/boneco.svg");
    background-repeat: no-repeat;
    background-position: 10px 70px;
    background-size: 100%;
}

#mensagem-nenhuma{
    font-size: 0.7em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

#mensagem-digite{
    font-size: 16px;
}

#mensagem-nenhuma, #mensagem-digite{
    position: relative;
    width: 100%;
    text-align: center;
}
.copiar{
    width: 80%;
    margin: 0 7% ;
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
    }
    .conteudo-principal{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-left: 2px;
        margin-right: 10px;
    }
    section{
        align-items: center;
    }
    .sessao1{
        width: 80%;
    }
    .input-text{
        height: 270px;
    }
    .informacao{
        font-size: 0.6em;
    }
    .encriptar, .desencriptar {
        font-size: 0.7em;
    }

    .sessao2{
        width: 90%;
        margin: 0;
        margin-left: -25px;
        padding-right: 0;   
    }
    .mensagem-box{
        width: 100%;
        height: 300px;
    }

    .mensagem{
        height: 150px;
        background-image: none;

    }

    .copiar{
        display: none;
    }
}

@media screen and (max-width: 415px){
    .input-text{
        height: 280px;
    }
    .botoes{
        display: flex;
        flex-direction: column;
    }
    .encriptar{
        margin-bottom: 10px;
    }
    .sessao2{
        height: 400px;
    }
    .mensagem-box{
        height: 400px;
    }
    .mensagem{
        height: 200px;
    }

}


